{% extends "layout.html"%}
{% block content %}

<style>
  .anychart-credits {
    display: none;
  }
  select:invalid{
    color: gray;
    border:solid #F7601B 1px;
  }
  select:valid{
    border:solid #F7601B 1px;
  }
</style>

<script src="{{url_for('static', filename='js/plotly-latest.js')}}"></script>
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-graph.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-data-adapter.min.js"></script>

<div data-role="Accordion" class="gene_level_analysis-title-menu">
  <div class="gene_level_analysis-main-menu-row">
    <div class="gene_level_analysis-main-menu-group">
      <div class="antes">
        <p>Cohort</p>
        <form>
          <select id="ddlViewBy" class="gene_level_analysis-button" required>
            <option value="" disabled selected hidden  >Select cohort</option>
            <option value="Geneva">Geneva</option>
            <option value="USA">USA</option>
          </select>
        </form>
      </div>
      <div class="depois">
        <p>Day</p>
        <form>
            <select id="ddlViewBy2" class="gene_level_analysis-button" required>
              <option value="" disabled selected hidden  >Select day</option>
            </select>
          </form>
      </div>
      <button disabled="true" id="gerar" class="gene_level_analysis-button1 button">
        Generate view
      </button>
    </div>
  </div>
</div>
<img class='gene_level_analysis-content-gif' src="{{url_for('static', filename='img/loading.gif')}}" class="loading">
<div class="gene_level_analysis-content">

  <!-- VOLCANO -->
  <div class="gene_level_analysis-volcano">
    <!-- INPUT -->
    <div class="gene_level_analysis-volcano-input">

      <!-- logFC -->
      <div class="gene_level_analysis-log-f-c">
        <span class="gene_level_analysis-text4">
          Log2 fold-change threshold
        </span>
        <!-- CREATE RANGE HERE -->
      </div>
      <!-- FDR -->
      <div class="gene_level_analysis-f-d-r">
        <span class="gene_level_analysis-text5">FDR</span>
        <!-- CREATE RANGE HERE -->
      </div>
    </div>
    <!-- PLOT VOLCANO -->
    <div class="gene_level_analysis-volcano-plot" id="volcano-plot">
    
    </div>

  </div>

  <div class="gene_level_analysis-gene">

    <!-- GENE EXPRESSION -->
    <div class="gene_level_analysis-gene-exprs">

      <!-- Input -->
      <div class="gene_level_analysis-gene-cor-input">
        Click on the Volcano Plot Gene:
        <h3 id="gene-name"></h3>
        <div class="gene_level_analysis-search-gene"></div>
      </div>
      <div class="gene_level_analysis-content-gif-expression">
        <img src="{{url_for('static', filename='img/loading.gif')}}" class="loading">
      </div>
      <!-- Plot -->
      <div id="gene-boxplot-plot" class="gene_level_analysis-gene-exprs-plot">
      </div>
    </div>

    <!-- GENE CORRELATION NETWORK -->
    <div class="gene_level_analysis-gene-corr">

      <!-- Input -->
      <div class="gene_level_analysis-gene-cor-input">
        <span class="gene_level_analysis-text7">|R| threshold</span>
        <!-- Create Range Here -->
      </div>
      <div class="gene_level_analysis-content-gif-ntw">
        <img src="{{url_for('static', filename='img/loading.gif')}}" class="loading">
      </div>
      <!-- Plot -->
      <div id="gene-corr-plot" class="gene_level_analysis-gene-corr-plot"></div>
    </div>

  </div>
</div>

<script type="text/javascript" src="{{url_for('static',filename='js/gene_level_analysis.js')}}"></script>

<script type="text/javascript">

  select1=document.querySelector("#ddlViewBy")
  gerar=document.querySelector("#gerar")
  depois=document.querySelector(".depois")
  e1 = document.querySelector("#ddlViewBy");
  
  select1.addEventListener("change",function(event){
    Plotly.purge('volcano-plot');
    Plotly.purge('gene-boxplot-plot')
    try{document.querySelector("#gene-corr-plot").querySelector("svg").remove()}catch(e){}
    document.querySelector('.gene_level_analysis-content').style.display='flex';
    document.querySelector('.gene_level_analysis-content').style.opacity=0;
    depois.style.display="flex"
    gerar.disabled=false;
    gerar.style.opacity=1;
    
    var e = document.querySelector("#ddlViewBy");
    var select = document.querySelector("#ddlViewBy2");
    var a =dict_day[e.value]
    var opcoes = select.querySelectorAll('option')
    
    for(opcao of opcoes){
      opcao.remove()
    }
    
    for(elemento of dict_day[e.value]) {
        var opt = elemento;
        var el = document.createElement("option");
        el.innerHTML = opt;
        el.value = opt;
        select.appendChild(el);
    }
  })
 
  gerar.addEventListener("click",function(event){
    Plotly.purge('volcano-plot');
    Plotly.purge('gene-boxplot-plot')
    try{for(elemento of document.querySelector("#gene-corr-plot").querySelectorAll("svg")){elemento.remove()}}catch(e){}
    document.querySelector('.gene_level_analysis-content-gif').style.display='block';
    document.querySelector('.gene_level_analysis-content').style.display='flex';
    document.querySelector('.gene_level_analysis-content').style.opacity=0;
    
    var e = document.querySelector("#ddlViewBy");
    var e2 = document.querySelector("#ddlViewBy2");
    var strUser = e.value;
    var strUser2 = e2.value;
    const URL = '/gene_level_analysis'
    const xhr = new XMLHttpRequest();
    sender = JSON.stringify([strUser,strUser2])
    xhr.open('POST', URL);
    xhr.send([sender]);

    var source = new EventSource("{{ url_for('sse.stream') }}");

    source.addEventListener('greeting', function(event) {
          Plotly.purge('volcano-plot');
          var data = JSON.parse(event.data);
          document.querySelector('.gene_level_analysis-gene').style.display='flex';
          document.querySelector('.gene_level_analysis-content').style.display='flex';
          document.querySelector('.gene_level_analysis-content').style.opacity=0;
          document.querySelector('.gene_level_analysis-gene').style.display='none';
          
          plotVolcano(data);

          document.querySelector('.gene_level_analysis-content-gif').style.display='none';
          document.querySelector('.gene_level_analysis-content').style.opacity=1;
          document.querySelector('.gene_level_analysis-gene').style.display='flex';

          document.getElementById('volcano-plot').on('plotly_click', (data) => {
              
              Plotly.purge('gene-boxplot-plot')
              
              try{for(elemento of document.querySelector("#gene-corr-plot").querySelectorAll("svg")){elemento.remove()}}catch(e){}
              
              document.querySelector('.gene_level_analysis-content-gif-expression').style.display='flex';
              document.querySelector('#gene-boxplot-plot').style.opacity=0;
              document.querySelector('.gene_level_analysis-content-gif-ntw').style.display='flex';
              document.querySelector('#gene-corr-plot').style.opacity=0;
              
              var e = document.querySelector("#ddlViewBy");
              var e2 = document.querySelector("#ddlViewBy2");
              var cohort = e.value;
              var timepoint = e2.value;
              const gene = data['points'][0]['customdata'][0];
          
              document.getElementById('gene-name').innerText = gene;
              
              plotGeneExpression(gene,cohort,timepoint);
              plotGeneNetwork(gene,cohort,timepoint);
            
              document.getElementById('gene-corr-plot').innerHTML = '';

          });
    }, false);
    

  })
  

</script>

{% endblock %}